doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Yusei+Magic&display=swap" rel="stylesheet">
  body
    div.header
      div.link2
        a(href='/') Home Page
        br
        br
        a(href='/risultati') Segnalazioni
        br
        br
        a(href='/account') Mio Account
      div.title
        h1 Air Quality Check 
      div.link
        a(href='/login') Login
        br
        br
        a(href='/registrazione') Registrazione
    div.content  
      block content
    footer.footer
      p  © Copyright 2021 - Powered by Perotto Chiara , web developer student for start2impact
