body {
  padding: 50px;
  font: 14px;
  font-family: 'Yusei Magic', sans-serif;
  box-sizing: border-box;
}

.header{
  color: white;
  height: 35vh;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url('../images/ambiente-1.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border: 3px solid black;
}

.title{
  text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
  font-size: 24px;
}

.link a{
  color: whitesmoke;
  text-decoration: underline;
  display: flex;
  position: absolute;
  right: 11vh;
  font-size: 30px;
  text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}

.link2 a{
  color: whitesmoke;
  text-decoration: underline;
  display: flex;
  position: absolute;
  left: 11vh;
  font-size: 30px;
  text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}

.footer{
  text-align: center;
  border: 3px solid black;
}

.button{
  position: relative;
  display: inline-block;
  width: 6em;
  height: 2em;
  line-height: 2em;
  vertical-align: middle;
  text-align: center;
  text-decoration: none;
  user-select: none;
  color: rgb(255, 255, 255);
  outline: none;
  border: 1px solid rgba(97, 204, 168, 0.8);
  border-top-color: rgba(0,0,0,.3);
  border-radius: 5px;
  background: rgb(206, 220, 231) linear-gradient(rgb(9, 119, 51), rgb(84, 184, 101));
  box-shadow:
    0 -1px rgba(10,21,28,.9) inset,
    0 1px rgba(255,255,255,.5) inset;
  margin: 5%;
  }

  .button:hover {
    background: linear-gradient(#d2dfea, #71828c);
    color: rgb(255, 255, 255);
  }

  .button:active {
    line-height: 2.6em;
    background: linear-gradient(#bac6cf, #c5d3de 20%, #71828c);
    box-shadow: 0 -1px rgba(255,255,255,.4) inset;
  }

  .button:before {
    content: "";
    position: absolute;
    top: -10px; right: -10px; bottom: -10px; left: -10px;
    z-index: -1;
    border-radius: 8px;
    background: linear-gradient(rgba(200,200,200,.5), rgba(240,240,240,.5));
  }

  .form{
    padding: 3%;
  }
  
/**/

.content{
  min-height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid black;
}

.cubo{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding:30px;
  width: 100%;
}

.cubo2{
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.formcerca{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.utente{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 30px;
  text-shadow: -1px 0 rgb(6, 90, 13), 0 1px rgb(6, 90, 13), 1px 0 rgb(6, 90, 13), 0 -1px rgb(6, 90, 13);
}

.blocco2{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  width: 100%;
}

.bloccosegnalazioni{
  width:90%;
  min-height: 100px;
}

.bloccotasti{
  width:90%;
  min-height: 100px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.segnalazioni{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.oggetto{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 300px;
  height: 400px;
  border: 3px solid black;
  margin:2%
}

.oggetto img{
  max-width:160px;
  max-height: 160px;
}

.testo{
  padding: 2%;
  margin: 2%;
  font-size: 4vh;
}


/*  */
.upload{
  text-align: center;
  padding: 2%;
}

.indirizzo{
  text-align: center;
  font-size: 25px;
}

.indirizzo input{
  border-radius: 5%;
  margin: 1%;
}

